* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $gray-1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray-2;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
  }
}
