.warranty {
  .warranty-banner {
    margin-bottom: $m-10 * 5;
    padding: $p-10 * 4;
    border: 0;
    border-radius: $lightRadius;
    background: $primary;
    position: relative;
    overflow: hidden;
    .banner-content {
      position: relative;
      z-index: 1;
      .content-title {
        margin-bottom: $m-10 * 5;
      }
      .content-text {
        display: block;
        color: $tWhite-1;
        font-size: 18px;
      }
      .content-link {
        display: block;
        &:hover {
          color: $tWhite-1 !important;
          opacity: 0.5;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -100px;
      width: 100% * 2;
      height: 100% - 20;
      background: $slate-1;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      @include respond(tablet) {
        height: 100% - 25;
        left: -150px;
      }
      @include respond(largePhone) {
        height: 100% - 30;
      }
    }
    @include respond(largePhone) {
      padding: $p-10;
    }
  }
  .warranty-title {
    padding: $p-10;
    border-radius: $lightRadius;
    background: $primary;
  }
  .warranty-step {
    margin-bottom: $m-10 * 5;
    .step-list-item {
      border: 0;
    }
    .step-note {
      margin-top: $m-10 * 3;
      font-weight: 600;
    }
    .step-list-item,
    .step-note,
    .step-content {
      margin-left: $m-10 * 2;
    }
  }
  .warranty-condition {
    margin-bottom: $m-10 * 5;
    .condition-list-item {
      border: 0;
      margin-left: $m-10 * 2;
    }
  }
  .warranty-returns {
    margin-bottom: $m-10 * 5;
    .returns-list-item {
        border: 0;
        margin-left: $m-10 * 2;
      }
  }
}
