.cart {
  .cart-info {
    margin-bottom: $m-10 * 5;
    .info-card {
      border-color: $gray-2;
      .ant-card-body {
        @include respond(largePhone) {
          padding: $p-10;
        }
      }
    }
  }
  .cart-form {
    margin-bottom: $m-10 * 5;
    .form-card {
      border-color: $gray-2;
      .ant-card-body {
        @include respond(largePhone) {
          padding: $p-10;
        }
      }
      .card-note {
        display: block;
        margin-bottom: $m-10 * 2;
        color: $tRed-1;
      }
      .card-collapse {
        .collapse-item {
          .ant-collapse-header {
            align-items: center !important;
          }
          .item-account {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
