// BG
$primary: #bef264;
$white: #fff;
$white-1: #eeeded;
$gray-1: #d9d9d9;
$gray-2: #b4b4b4;
$slate-1: #001529;
$blue-1: #3891e5;
$blue-2: #1e87e9;
$dark-1: #222;
$green-1: #51ce17;
$orange-1: #f5c72f;
$RGBA-primary-1: rgba(190, 242, 100, 0.2);
$RGBA-dark-1: rgba(0, 0, 0, 0.5);
$RGBA-dark-2: rgba(0, 0, 0, 0.8);
$RGBA-blue-1: rgba(56, 145, 229, 0.2);

// TEXT COLOR
$tPrimary: #222;
$tSecondary: #bef264;
$tGray-1: #d9d9d9;
$tGray-2: #b4b4b4;
$tWhite-1: #fff;
$tRed-1: #e75151;
$tBlue-1: #3891e5;

// MARGIN
$m-5: 5px;
$m-10: 10px;

// PADDING
$p-5: 5px;
$p-10: 10px;

// RADIUS
$lightRadius: 4px;
$regularRadius: 8px;
